* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Color */

  --color-Pale-Blue: hsl(243, 100%, 93%);
  --color-Grayish-Blue: hsl(229, 7%, 55%);
  --color-Dark-Blue: hsl(228, 56%, 26%);
  --color-Very-Dark-Blue: hsl(229, 57%, 11%);
  --colo-Gradient-low: hsl(6, 100%, 80%);
  --color-Gradient-high: hsl(335, 100%, 65%);

  /* font-size */
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  font-family: "raleway", sans-serif;
  background-color: var(--color-Very-Dark-Blue);
}
body::after {
  position: absolute;
  content: "";
  top: 50vh;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-image: url("./images/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
}
.column-2 {
  display: flex;
  gap: 2.4rem;
}
.logo {
  width: 9.6rem;
}
.left-s {
  border-radius: 0.8rem;
  border-top-right-radius: 6rem;
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 3rem;
  width: 30rem;
  height: 16rem;
  background: var(--color-Dark-Blue);
}
.icon-f {
  display: flex;
  gap: 1rem;
}
.icon-b {
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--color-Very-Dark-Blue);
  padding: 1rem;
  border-radius: 0.5rem;
}
.right-s {
  width: 60rem;
  height: 11rem;
  align-self: flex-end;
  background: var(--color-Dark-Blue);
  border-radius: 0.8rem;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0 3.6rem;
  flex-direction: column;
}
.con-r {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}
.load-reg {
  content: "";
  height: 1.6rem;
  width: 100%;
  border-radius: 1rem;
  background: var(--color-Very-Dark-Blue);
  display: flex;
  align-items: center;
}
.fill-load {
  content: "";
  height: 1.2rem;
  width: 60%;
  transform: translate(1%);
  border-radius: 1rem;
  background-image: linear-gradient(
    to right,
    var(--colo-Gradient-low),
    var(--color-Gradient-high)
  );
}
.cir-load {
}
.cap-f {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
